In [35]:
# librerias
from __future__ import print_function
import mysql.connector
import pandas as pd
#import glob
#import re

import sys
import os
# Incorporo el path donde estan los archivos de carga individuales de cada Tabla
sys.path.append(os.getcwd())

In [36]:
# Me conecto a la base de datos
cnx = mysql.connector.connect(user='root', password="agustin", database='mycoDB')
print(cnx)

<mysql.connector.connection.MySQLConnection object at 0x7f9b72f4a358>

In [9]:
# Borro los datos de las tablas

try:
    cursor = cnx.cursor()

    #cursor.execute("DELETE FROM motifs")
    cursor.execute("DELETE FROM redRTLocus")
    #cursor.execute("DELETE FROM redRTOperons")
    #cursor.execute("DELETE FROM locus")
    #cursor.execute("DELETE FROM operons")
    cnx.commit()
    print(cnx.commit())
    
finally:
    cursor.close()

None

In [6]:
# Cargo la tabla Operones

# Leo el archivo donde esta en mfinderID de cada operon
operonID_mfinderID=pd.read_csv("2_redT_conOperones_fullNames.txt",sep='\t',header=None)
# Creo un indice donce la llave es el operon y el value el mfinderID
operonID_mfinderID_Index={}
# Lleno el indice
for line in range(len(operonID_mfinderID)):
    operonID_mfinderID_Index[operonID_mfinderID.iloc[line][1]]=int(operonID_mfinderID.iloc[line][0])

# Leo el archivo con todos los operones
operon_file=pd.read_csv("1_operones_newID.opr",sep='\t')
operons=(operon_file["OperonID"])

# Inicio el cursor
cursor = cnx.cursor()

try:  
    for line in list(range(len(operons))): 
        # Inserto los operones y busco en eindice de mfinderID si tienen Id de motivos, sino inserto iun NULL
        # Inserto solo las no repetidas
        add = ("INSERT IGNORE INTO operons (operonID, mfinderID) VALUES (%(a)s, %(b)s)")
        data = {"a":str(operons[line]), "b": operonID_mfinderID_Index.get(str(operons[line]),None)}
        cursor.execute(add,data)
        cnx.commit()
    for key in operonID_mfinderID_Index:
        # Inserto los operones que son denominados como locus, ya que no estan en ningun operon.
        if key.startswith("rv"):
            add = ("INSERT INTO operons (operonID, mfinderID) VALUES (%(a)s, %(b)s)")
            data = {"a":key, "b": operonID_mfinderID_Index[key]}
            cursor.execute(add,data)
            cnx.commit()
            
finally:  
    cursor.close()

print("OK")

OK

In [7]:
# Cargo la tabla locus

# Leo el archivo con todos los locus
loci_file=open("1_listaDeLocus_sh37rv.txt","r")
# Leo el archivo con todos los operones
operones_file=pd.read_csv('1_operones_newID.opr',sep='\t')

# Parseo operones y creo un indice de operones-locus
index_loci_operon={}
operon= operones_file["OperonID"]
locusID= operones_file["Synonym"]
for fila in list(range(len(operon))):
    index_loci_operon[locusID[fila]]=int(operon[fila])
     
# Inicio el cursor
cursor = cnx.cursor()

try:
    for locus in loci_file:
        locus=locus.rstrip()        
        add = ("INSERT INTO locus (locusID, operonID) VALUES (%(a)s, %(b)s)")
        data = {"a": locus, "b": index_loci_operon.get(str(locus),None)}
        cursor.execute(add,data)       
        cnx.commit()
finally:  
    cursor.close()
    loci_file.close()
    
print("OK")

OK

In [10]:
# Cargo la tabla redRTLocus

# Leo el archivo con la red de Locus
redRT_file=pd.read_csv('1_myco_h37rv_RT_locus.txt',sep='\t',header=None)

# Inicio el cursor
cursor = cnx.cursor()

try:
    for line in range(len(redRT_file)):
        nodos=redRT_file.iloc[line][1].split()
        regulador=nodos[0]
        regulado=nodos[1]        
        add = ("INSERT INTO redRTLocus (regulador, regulado) VALUES (%(a)s, %(b)s)")
        data = {"a": regulador, "b": regulado}
        #print(data)
        cursor.execute(add,data)       
        cnx.commit()
finally:  
    cursor.close()
print("OK")

OK

In [11]:
# Cargo la tabla redRTOperons, con mfinderIDs

# Leo el archivo con la red de Operones pero con mfinderID
redRT_mfinderID_file=pd.read_csv('2_redT_conOperones_net_number.txt',sep='\s+',header=None)

# Inicio el cursor
cursor = cnx.cursor()

try:
    for line in range(len(redRT_mfinderID_file)):
        regulador=int(redRT_mfinderID_file.iloc[line][0])
        regulado=int(redRT_mfinderID_file.iloc[line][1])
        add = ("INSERT INTO redRTOperons (A, B) VALUES (%(a)s, %(b)s)")
        data = {"a": regulador, "b": regulado}
        cursor.execute(add,data)       
        cnx.commit()
finally:  
    cursor.close()
print("OK")

OK

In [12]:
# Cargo la tabla motifs

# Leo el archivo donde estan los motifs
motifs_file=open("3_mfinderMycoh37rv_MEMBERS.txt","r")

# Inicio el cursor
cursor = cnx.cursor()

try:
    for line in motifs_file:      
        if str(line[0:8]) == "subgraph":
            tipoDeMotivo= int(line.split(" ")[3].rstrip())
        if line[0].isdigit():
            motivos=line.split("\t")
            C=motivos[0]
            D=motivos[1]
            E=motivos[2]       
            add = ("INSERT INTO motifs (C, D, E, motifType) VALUES (%(a)s, %(b)s, %(c)s, %(d)s)")
            data = {"a": C, "b": D, "c": E, "d":tipoDeMotivo}
            #print(data)
            cursor.execute(add,data)       
            cnx.commit()
finally:  
    cursor.close()
    motifs_file.close()
print("OK")

OK

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:agustin@localhost/mycoDB

'Connected: root@mycoDB'

In [21]:
%%sql 
/* Listado de locus que estan en la red de regulacion de operones, con sus respectivos operones que lo regulan */
SELECT l.locusID,o.operonID,o2.operonID AS OperonesReguladores
FROM redRTOperons r, operons o, locus l, operons o2 
WHERE r.A = o.mfinderID AND o.operonID = l.operonID AND r.B = o2.mfinderID
limit  10;

10 rows affected.

[('Rv3286c', '1132810', '1132034'),
 ('Rv3287c', '1132810', '1132034'),
 ('Rv0001', '3873039', '1132034'),
 ('Rv1985c', '3873785', '1132034'),
 ('Rv2711', '3874071', '1132034'),
 ('Rv3676', '3874387', '1132034'),
 ('Rv0347', '1132109', '1132035'),
 ('Rv0348', '1132109', '1132035'),
 ('Rv0349', '1132109', '1132035'),
 ('Rv3648c', '3874378', '1132035')]

In [14]:
%%sql
/* dado un locus, toda la info */
SELECT l.locusID, o.operonID, m.motifType, m.motifID
FROM operons o, locus l, motifs m
WHERE l.locusID = 'Rv3648c' AND l.operonID = o.operonID 
AND (o.mfinderID = m.C OR o.mfinderID = m.D OR o.mfinderID = m.E)
limit 5;

5 rows affected.

[('Rv3648c', '3874378', 6, 1563),
 ('Rv3648c', '3874378', 6, 1620),
 ('Rv3648c', '3874378', 6, 1676),
 ('Rv3648c', '3874378', 6, 1733),
 ('Rv3648c', '3874378', 6, 1790)]

In [18]:
%%sql
/* imprime los locus que estan en mi operon (dado un RV) */
SELECT l.locusID, o.operonID, l2.locusID
FROM operons o, locus l, locus l2
WHERE l.locusID = "Rv0002" AND o.operonID = l.operonID AND l2.operonID = o.operonID;

3 rows affected.

[('Rv0002', '1132034', 'Rv0002'),
 ('Rv0002', '1132034', 'Rv0003'),
 ('Rv0002', '1132034', 'Rv0004')]

In [ ]:
%%sql
/*  */

In [24]:
%%sql
/* dado un locus, toda la info */
SELECT l.locusID, o.operonID, o.mfinderID, m.motifType, m.motifID, m.C, m.D, m.E
FROM operons o, locus l, motifs m
WHERE l.locusID = 'Rv3648c' AND l.operonID = o.operonID 
AND (o.mfinderID = m.C OR o.mfinderID = m.D OR o.mfinderID = m.E)
limit 5;

5 rows affected.

[('Rv3648c', '3874378', 928, 6, 1563, 649, 526, 928),
 ('Rv3648c', '3874378', 928, 6, 1620, 649, 34, 928),
 ('Rv3648c', '3874378', 928, 6, 1676, 649, 59, 928),
 ('Rv3648c', '3874378', 928, 6, 1733, 649, 561, 928),
 ('Rv3648c', '3874378', 928, 6, 1790, 649, 604, 928)]

In [36]:
%%sql
/* Dado un locus devuelve el tipo de motivo en el que esta, y cuales son los mfinderid de los locus de ese motivo */
SELECT m.motifType, l1.locusID, m.C, l2.locusID, m.D, l3.locusID, m.E
FROM operons o, locus l1, motifs m, locus l2, locus l3
WHERE l1.locusID = 'Rv3648c' 
AND l1.operonID = o.operonID 
AND (o.mfinderID = m.C OR o.mfinderID = m.D OR o.mfinderID = m.E)
AND
limit 20;

20 rows affected.

[(6, 'Rv3648c', 649, 'Rv0001', 526, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 34, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 59, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 561, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 604, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 139, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 619, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 145, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 745, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 797, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 825, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 830, 'Rv0001', 928),
 (6, 'Rv3648c', 649, 'Rv0001', 912, 'Rv0001', 928),
 (12, 'Rv3648c', 649, 'Rv0001', 928, 'Rv0001', 2),
 (12, 'Rv3648c', 649, 'Rv0001', 928, 'Rv0001', 490),
 (12, 'Rv3648c', 134, 'Rv0001', 649, 'Rv0001', 928),
 (12, 'Rv3648c', 391, 'Rv0001', 649, 'Rv0001', 928),
 (12, 'Rv3648c', 826, 'Rv0001', 649, 'Rv0001', 928),
 (36, 'Rv3648c', 46, 'Rv0001', 928, 'Rv0001', 490),
 (36, 'Rv3648c', 46, 'Rv0001', 928, 'Rv0001', 2)]